html, body {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: normal;
  font-size: 18px;
  min-width: 320px;
  scroll-behavior: smooth;
  background-color: gray;
  height: 100vh;
}

a {
  outline: none;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: yellow;
}

h2,
h1 {
  color: #000;
  margin-bottom: 10px;
}


p {
  color: #ffffff;
}

ol li,
ul li {
  margin-bottom: 30px;
}

ol {
  margin-top: 20px;
}

i {
  color: yellow;
}

.olList li {
  margin-bottom: 5px;
  margin-left: 40px;
}

.listFlex {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.listFlex ol {
  max-width: 410px;
  width: 100%;
}

xmp {
  color: #ffffff;
  font-size: 25px;
}

ol,
ol li span {
  color: #ffffff;
  font-size: 18px;
}